.tablesorter {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tablesorter table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablesorter tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.tablesorter table tr:first-child td:first-child {
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}
.tablesorter table tr:first-child td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.tablesorter tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.tablesorter tr:hover td{
	background-color:#ffffff;
		

}
.tablesorter td{
	vertical-align:middle;
	
	background-color:#d2d8dd;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:right;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tablesorter tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablesorter tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablesorter tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablesorter tr:first-child td{
		background:-o-linear-gradient(bottom, #71b2f2 5%, #71b2f2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #71b2f2), color-stop(1, #71b2f2) );
	background:-moz-linear-gradient( center top, #71b2f2 5%, #71b2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#71b2f2", endColorstr="#71b2f2");	background: -o-linear-gradient(top,#71b2f2,71b2f2);

	background-color:#71b2f2;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tablesorter tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #71b2f2 5%, #71b2f2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #71b2f2), color-stop(1, #71b2f2) );
	background:-moz-linear-gradient( center top, #71b2f2 5%, #71b2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#71b2f2", endColorstr="#71b2f2");	background: -o-linear-gradient(top,#71b2f2,71b2f2);

	background-color:#71b2f2;
}
.tablesorter tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablesorter tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}